# Importing libraries & data set

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('my.csv')
df

,Attrition_Flag,Gender,Education_Level,Marital_Status,Income_Category,Card_Category
0,12,3,3,2,4,NaN
1,2,45,34,9,5,NaN
2,2,6,34,8,33,NaN
3,2,4,34,7,3,NaN
4,3,32,4,6,3,NaN

# using for loop a slower way

In [2]:
import itertools

for i, j in itertools.combinations(df.index, 2):
   E = np.linalg.norm(df.loc[i] - df.loc[j])
E
%timeit E

46.9 ns ± 12.3 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

# better option is to use pdist

In [3]:
from scipy.spatial.distance import pdist

E=pdist(df.values, 'euclid')
E
%timeit E

60 ns ± 10.8 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)